{% extends "email/layout.html" %}

{% block title %}Password Changed{% endblock %}

{% block header %}Your Password Has Been Changed{% endblock %}

{% block content %}
    {% set display_name = user.first_name ~ ' ' ~ user.last_name if user.first_name and user.last_name else user.first_name or user.last_name or user.email %}
    <p>Hello {{ display_name }},</p>
    <p>Your password has been successfully changed.</p>
    <p>If you did not make this change, please contact support immediately.</p>
{% endblock %}
