{% extends "email/layout.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block header %}Password Reset Request{% endblock %}

{% block content %}
    {% set display_name = user.first_name ~ ' ' ~ user.last_name if user.first_name and user.last_name else user.first_name or user.last_name or user.email %}
    <p>Hello {{ display_name }},</p>
    <p>We received a request to reset your password. Please use the following to reset it:</p>
    <pre>
    curl \
        -X POST \
        -H "Content-Type: application/json" \
        -d "{\"password\": \"your-new-password\", \"token\": \"{{ token }}\"}" \
        {{ base_url }}/auth/v1/reset-password
    </pre>
    <br>
    <pre>
        {{ token }}
    </pre>
    <p>If you did not request a password reset, please ignore this email.</p>
{% endblock %}
